<!--div class="container" *ngIf="isRecords;else NoRecordFound"-->
<div class="col-sm-12" align="right">
  <a class="nav-link" routerLink="#" (click)=logout()>logout </a>
 
  </div>  
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5" *ngIf="isRecords;else NoRecordFound">
     <div class="col" ><b>S.No</b></div>
      <div class="col"><b>Feedback</b></div>
      <div class="col" ><b>Image</b></div>
      <div class="col" ><b>Approved</b></div>
      <div [hidden]="!isAction" class="col" ><b>Action</b></div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5"  *ngFor="let entries of usersEntriesList">
         <div class="col" >{{entries.id}}</div>
          <div class="col">{{entries.feedback}}</div>
            <div class="col" ><a class="nav-link" routerLink="#" (click)=downloadfile(entries.id,entries.image)>{{entries.imgurl}}</a>
          </div>
            <div class="col"  *ngIf="entries.isApprove;else elseNotDone"> Approved</div>
            <ng-template #elseNotDone>
              Not Approved
            </ng-template>
            <div [hidden]="!isAction" class="col" >
                  <table>
                    <tr>
                      <td><a class="nav-link" routerLink="#" (click)=approve(entries.id)>Approve </a></td>
                      <td><a class="nav-link" routerLink="#" (click)=Edit(entries.id)>Edit </a></td>
                      <td><a class="nav-link" routerLink="#" (click)=Delete(entries.id)>Delete</a></td>
                    </tr>
                  </table>
                </div>
              </div>
              <!--div>
                {{message}}
                </div-->

                <ng-template #NoRecordFound>
                  <div class="d-flex justify-content-center align-items-center" style="height:100px;">
                 <div class="bg-primary">no record found</div>    
             </div>
             </ng-template>
         

      <input type="button" value="add new entries" (click)="addEntries()">
      
    </div>
    <div class="container row">
      <div class="col-md-12">
          <div *ngIf=retrievedImage>
              <img [src]="retrievedImage">
          </div>
      </div>
  </div>
    