<div>
<table>
<tr>
    <td>entry type </td>
 <td>   
<div>
<select name="my-select" (change)="selectChange($event)">
    <option [value]="0" >
        select....
    </option>
    <option [value]="1" >
        text
    </option>
    <option [value]="2" >
        image
    </option>
</select>
</div>
</td></tr>
<tr><td>
<div *ngIf="isText">
    enter text for entries
</div>
</td>
<td>
    <div *ngIf="isText">
      <input type="textArea" name="feedback" [(ngModel)]="userEntries.feedback"/>
    </div>
    </td>
</tr><tr>
    <td>
<div *ngIf="isImage">
    upload file

</div>
</td>
<td>
    <div *ngIf="isImage">
      
    <input type="file"/>
    <input type="hidden" name="imgurl" [(ngModel)]="userEntries.imgurl"/>
    </div>
    </td>
    </tr>
</table>
<div>
<input type="button" value="add entries"(clock)=save()/>
</div>
</div>
