    <div>
    <table>
    <tr>
        <td>entry type :</td>
     <td>   
    <div>
    <select name="my-select" (change)="selectChange($event)" [(ngModel)]="entriesType">
        <option [value]="0" >
            select....
        </option>
        <option [value]="1" >
            text
        </option>
        <option [value]="2" >
            image
        </option>
    </select>
    </div>
    </td></tr>
    <tr><td>
    <div *ngIf="isText">
        enter text for entries
    </div>
    </td>
    <td>
        <div *ngIf="isText">
          <input type="textArea" name="feedback" [(ngModel)]="usersEntriesEdit.feedback"/>
        </div>
        </td>
    </tr>
    <tr>
        <div *ngIf="isImage">
        <td>
        uploaded  file Name:
        </td>
        <td>
            {{usersEntriesEdit.imgurl}}
              </td>
        </div>
    
    </tr>
    <tr>
    <td>
            <div *ngIf="isImage">
            
            choose file to update
            </div>

        </td><td>
            <div *ngIf="isImage">
        <input type="file" vlaue=" select file to update"(change)="selectFile($event)" [(ngModel)]="usersEntriesEdit.imgurl"/>
        
        </div>
        </td>
        </tr>
        <tr>
            <td>
                <div>
                    <input type="button" value="back"(click)=back()/>
                </div>
        
            </td>
        </tr>

    </table>
    <div>
    <input type="button" value="update entries"(click)=save()/>
    </div>
    </div>
    