p {color: blue; text-align: center; background-color: cyan;}
span {border: 2%; text-align: center; border-color: blueviolet; border-style: dotted;}
button {color: red; background:darkgray;}
div{border: 5%;}